@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
    height: 200svh;
}

.asistente-boton {
    display: flex;
    background-color: #673de6;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;

}

.asistente-boton:hover {
    background-color: #5025d1;
}

.asistente-boton .asistente-boton-span {
    font-family: DM Sans, sans-serif;
    font-weight: bold;
    color: white;
}


.asistente-boton .asistente-boton-stars svg {
    height: 20px;
    width: 50px;
    color: white;
}

.asistente-ventana {
    width: 300px;
    height: 350px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin-bottom: 60px;
}

.asistente-ventana .asistente-ventana-titulo {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    padding: 5px;
}

.asistente-ventana .asistente-ventana-titulo .asistente-ventana-titulo-palabras {
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.asistente-ventana .asistente-ventana-titulo .asistente-ventana-titulo-iconos {
    display: flex;
    align-items: center;
    gap: 10px;
}

.asistente-ventana .asistente-ventana-parrafo {
    display: flex;
    flex-direction: row;
    align-items: start;
    color: white;
    padding: 5px;
    gap: 10px;
}

.asistente-ventana-parrafo .asistente-ventana-parrafo-star {
    padding: 4px;
    background-color: #673de6;
    height: 20px;
    width: 20px;
}

.asistente-ventana-parrafo .asistente-ventana-parrafo-star svg {
    height: 20px;
    width: 20px;
}

.asistente-ventana-parrafo .asistente-ventana-parrafo-palabra {
    margin-top: -16px;
    color: black;
}

.asistente-ventana-parrafo .asistente-ventana-parrafo-palabra p{
  font-family: DM Sans, sans-serif;
  font-size: 14px;
}

.asistente-ventana .asistente-ventana-form{
    display: flex;
    align-items: center;
    position: relative;
}

.asistente-ventana .asistente-ventana-form input {
    color: black;
    margin: 10px;
    padding-right: 50px;
    height: 30px;
    width: 100%;
    box-sizing: border-box;
}

.asistente-ventana .asistente-ventana-form .asistente-ventana-form-icono{
    display: flex;
    position: absolute;
    right: 15px;
    height: 25px;
    width: 35px;
    align-items: center;
    border: none;
}